<h1>Introducci√≥n a libreria Pandas</h1>
<img src="https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2018/03/pandas.jpg">

In [1]:
import pandas as pd
import numpy as np
print("La version es:",pd.__version__)
print(type(pd)) #tipo de dato
import time

La version es: 1.0.3
<class 'module'>

In [2]:
help(pd) #ayuda en pandas

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

CLASSES
    builtins.object
        Panel
        SparseDataFrame
        SparseSeries
        __DatetimeSub
        __SparseArraySub

    class Panel(builtins.object)
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    SparseArray = class __SparseArraySub(builtins.object)
     |  Methods defined here:
     |
     |  emit_warning(dummy=0)
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(cls, *args, **kwargs)
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class SparseDataFrame(builtins.object)
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class SparseSeries(builtins.object)
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    datetime = class __DatetimeSub(builtins.object)
     |  Methods defined here:
     |
     |  emit_warning(dummy=0)
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(cls, *args, **kwargs)
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '3adf3340453d6704d4a2cb47058214cc697a7d29'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
    get_option = <pandas._config.config.CallableDynamicDoc object>
    np = <pandas.__numpy object>
    options = <pandas._config.config.DictWrapper object>
    reset_option = <pandas._config.config.CallableDynamicDoc object>
    set_option = <pandas._config.config.CallableDynamicDoc object>

VERSION
    1.0.3

FILE
    /home/andres/Escritorio/PROYECTOS/entorno1/lib/python3.6/site-packages/pandas/__init__.py

/usr/lib/python3.6/inspect.py:441: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  srch_obj = srch_cls.__getattr__(cls, name)
/usr/lib/python3.6/pydoc.py:220: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  fields = getattr(object, '_fields', [])

In [3]:
print(pd.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

# Indice

* [Introduccion](#item1)
* [Estrucutra de datos: Series ](#item2)

<a name="item1"></a>
# Introduccion

Pandas es una librer√≠a de python destinada al an√°lisis de datos, que proporciona unas estructuras de datos flexibles y que permiten trabajar con ellos de forma muy eficiente. Pandas ofrece las siguientes estructuras de datos:

<b>Series:</b> Son arrays unidimensionales con indexaci√≥n (arrays con √≠ndice o etiquetados), similar a los diccionarios. Pueden generarse a partir de diccionarios o de listas.
 
<b>DataFrame:</b> Son estructuras de datos similares a las tablas de bases de datos relacionales como SQL.
 
<b>Panel, Panel4D y PanelND:</b> Estas estructuras de datos permiten trabajar con m√°s de dos dimensiones.

Ademas los princiaples tipos de datos en pandas son: 

-Datos tabulares con columnas de tipo heterog√©neo con etiquetas en columnas y filas.

-Series temporales. 

Pandas proporciona herramientas que permiten:

-leer y escribir datos en diferentes formatos: CSV, Microsoft Excel, bases SQL y formato HDF5
    
-seleccionar y filtrar de manera sencilla tablas de datos en funci√≥n de posici√≥n, valor o etiquetas

-fusionar y unir datos

-transformar datos aplicando funciones tanto en global como por ventanas

-manipulaci√≥n de series temporales

-hacer gr√°ficas

En pandas existen tres tipos b√°sicos de objetos todos ellos basados a su vez en Numpy:

<b>Series (listas, 1D),
DataFrame (tablas, 2D) y 
Panels (tablas 3D).

<a name="item2"></a>
# Estrucutra de datos: Series

El primer ejemplo que vamos a poner va a ser el de definir una estructura de datos "Series" que como ya comentamos es un array de datos unidimensional con indexaci√≥n. Las "Series" se definen de la siguiente manera:


pd.Series(
    data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False,
)

Construyamos una base de datos con el metodo series.

Recuerde que el primer parametro son los elementos del array y el segundo parametro es el indice asociado a este
elemento.

Las Series extienden la funcionalidad provista por el ndarray de Numpy ya que estas a√±aden un conjunto de etiquetas (nombres de columnas) que son usadas para indexar los elementos.

Una Serie puede ser creada al recibir como par√°metro un valor escalar, un arreglo de Numpy o un diccionario/lista de Python.

In [3]:
pd.Series?

### Creando una serie

In [2]:
serie1=pd.Series(["julian","andres","montoya","carvajal"],index=[1,2,3,4])
print("Serie\n")
print(serie1)
print(type(serie1))

Serie

1      julian
2      andres
3     montoya
4    carvajal
dtype: object
<class 'pandas.core.series.Series'>

Si el indice no es indicado, entonces los enumera a partir de cero

In [3]:
serie2=pd.Series(["dolar","pesos","euro"])
print("Serie\n")
print(serie2)

Serie

0    dolar
1    pesos
2     euro
dtype: object

In [4]:
serie3=pd.Series([23,56,88],index=["edad","pelos","numero favorito"])
print("Serie\n")
print(serie3)
print("\n")
serie4=pd.Series([True,"no tiene",88],index=["edad","pelos","numero favorito"])
print("Serie\n")
print(serie4)

Serie

edad               23
pelos              56
numero favorito    88
dtype: int64


Serie

edad                   True
pelos              no tiene
numero favorito          88
dtype: object

Tambien podemos formar una serie a partir de diccionarios o listas asi:

Con Diccionarios:

In [39]:
l=["hola","Rafa",3.14,True]
print(l)
serie=pd.Series(l)
print(serie)

['hola', 'Rafa', 3.14, True]
0    hola
1    Rafa
2    3.14
3    True
dtype: object

In [5]:
ldic={"altura":23,"peso":45,"color":"marron"}
serie5=pd.Series(dic)
print("Serie formado con dicccionario\n")
print(serie5)

Serie formado con dicccionario

altura        23
peso          45
color     marron
dtype: object

Con Listas:

In [6]:
list=[1,2,3,"hola",True , 3.14]
serie6=pd.Series(list)
print("Serie formado con lista\n")
print(serie6)

Serie formado con lista

0       1
1       2
2       3
3    hola
4    True
5    3.14
dtype: object

En otras palabras las series en pandas no es mas que un arreglo 1D de numpy

### Metodos del tipo Series.

In [47]:
notamaterias= {"inteligencia artificial": 4.5,
              "ingles 1": 4.0,
              "probabilidad": 3.5,
               "fisica computacional": 4,
               "fis est":np.nan
              }
datos=pd.Series(notamaterias)

print("datos\n")
print(datos)

datos

inteligencia artificial    4.5
ingles 1                   4.0
probabilidad               3.5
fisica computacional       4.0
fis est                    NaN
dtype: float64

In [3]:
print("Indices de la Serie\n")
print(datos.index)

Indices de la Serie

Index(['inteligencia artificial', 'ingles 1', 'probabilidad',
       'fisica computacional', 'fis est'],
      dtype='object')

In [4]:
print("Elementos de la Serie\n")
print(datos.array)
print(type(datos.array))

Elementos de la Serie

<PandasArray>
[4.5, 4.0, 3.5, 4.0, nan]
Length: 5, dtype: float64
<class 'pandas.core.arrays.numpy_.PandasArray'>

In [5]:
print("Elementos de la Serie\n")
print(datos.values)
print(type(datos.values))

Elementos de la Serie

[4.5 4.  3.5 4.  nan]
<class 'numpy.ndarray'>

In [6]:
print("Tipo de datos de la Serie\n")
print(datos.dtype)

Tipo de datos de la Serie

float64

In [7]:
print("Tama√±o de la Serie\n")
print(datos.shape)

Tama√±o de la Serie

(5,)

In [8]:
print("Bytes de la Serie\n")
print(datos.nbytes)

Bytes de la Serie

40

In [9]:
print("Dimension de la Serie\n")
print(datos.ndim)

Dimension de la Serie

1

In [10]:
print("tama√±o de la Serie\n")
print(datos.size)

tama√±o de la Serie

5

In [11]:
print("Transpuesta de la Serie\n")
print(datos.T)

Transpuesta de la Serie

inteligencia artificial    4.5
ingles 1                   4.0
probabilidad               3.5
fisica computacional       4.0
fis est                    NaN
dtype: float64

In [12]:
print("Elementos nan en la Serie\n")
print(datos.hasnans)

Elementos nan en la Serie

True

In [13]:
print("Serie\n")
print(datos.empty)

Serie

False

In [14]:
print("tipo de Serie\n")
print(datos.dtypes)

tipo de Serie

float64

In [15]:
print("Nombre de la serie\n")
print(datos.name)

Nombre de la serie

None

### Indexaci√≥n, iteraci√≥n (MUY IMPORTANTE)

<b>get</b><br>
Obtener el elemento del objeto para la clave dada

In [21]:
print(datos.get("ingles 1"))

4.0

<b>at</b><br>
Acceda a un valor √∫nico para un par de etiquetas de fila / columna.Similar a loc, en el sentido de que ambos proporcionan b√∫squedas basadas en etiquetas.

In [22]:
print(datos.at["inteligencia artificial"])

4.5

In [23]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],index=[4, 5, 6], columns=['A', 'B', 'C'])
print(df)
print("\n")
print(df.at[5,"A"])

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30


0

<b>iat</b><br>
Acceda a un solo valor para un par de filas / columnas por posici√≥n entera.

In [24]:
print(datos.iat[1])

4.0

In [48]:
print(datos)
datos.iat[4]=35
print(datos)

inteligencia artificial    4.5
ingles 1                   4.0
probabilidad               3.5
fisica computacional       4.0
fis est                    NaN
dtype: float64
inteligencia artificial     4.5
ingles 1                    4.0
probabilidad                3.5
fisica computacional        4.0
fis est                    35.0
dtype: float64

In [25]:
print(df.iat[0,0])

0

### Obtener valores

<b>loc</b><br>
Acceda a un grupo de filas y columnas por etiqueta (s) o una matriz booleana. .loc[] se basa principalmente en etiquetas, pero tambi√©n se puede utilizar con una matriz booleana.

In [49]:
datos

inteligencia artificial     4.5
ingles 1                    4.0
probabilidad                3.5
fisica computacional        4.0
fis est                    35.0
dtype: float64

In [78]:
print(datos)
datos.loc[datos>4.3]=5.0
print(datos)

inteligencia artificial     4.5
ingles 1                    4.0
probabilidad                3.5
fisica computacional        4.0
fis est                    35.0
dtype: float64
inteligencia artificial    5.0
ingles 1                   4.0
probabilidad               3.5
fisica computacional       4.0
fis est                    5.0
dtype: float64

In [76]:
datos.loc[pd.Series([True,False,False,False,True],index=["probabilidad","inteligencia artificial","ingles 1","fis est","fisica computacional"])]

probabilidad            3.5
fisica computacional    4.0
dtype: float64

3 formas de hacer lo mismo

In [74]:
datos.loc[["inteligencia artificial","fis est"]]
datos.loc[[True,False,False,False,True]]
datos.loc["inteligencia artificial":"fis est":4]

inteligencia artificial     4.5
fis est                    35.0
dtype: float64

In [26]:
print(datos.loc["inteligencia artificial"])

4.5

In [50]:
datos.loc["inteligencia artificial":"probabilidad"]

inteligencia artificial    4.5
ingles 1                   4.0
probabilidad               3.5
dtype: float64

In [62]:
df1=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print(df1)
print(df1.loc[0:2:2,0:2:2])
df1.loc[[True,False,True],[True,False,True]]

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
   0  2
0  1  3
2  7  9

   0  2
0  1  3
2  7  9

In [27]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],index=['cobra', 'viper', 'sidewinder'],columns=['max_speed', 'shield'])
print(df)

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

Etiqueta √∫nica. Tenga en cuenta que esto devuelve la fila como una serie.

In [28]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

Lista de etiquetas. Nota usando [[]]devuelve un DataFrame.

In [29]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

Etiqueta √∫nica para fila y columna

In [30]:
df.loc['cobra', 'shield']

2

Corte con etiquetas para fila y etiqueta √∫nica para columna. Como se mencion√≥ anteriormente, tenga en cuenta que se incluyen tanto el inicio como la parada del segmento.

In [31]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

Lista booleana con la misma longitud que el eje de fila

In [32]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

Serie booleana alineable:

In [33]:
df.loc[pd.Series([False, True, False],index=['viper', 'sidewinder', 'cobra'])]

            max_speed  shield
sidewinder          7       8

Condicional que devuelve una serie booleana

In [34]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

Condicional que devuelve una serie booleana con etiquetas de columna especificadas

In [35]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

Invocable que devuelve una serie booleana

In [36]:
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

### Establecer valores

Establecer valor para todos los elementos que coincidan con la lista de etiquetas

In [37]:
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

Establecer valor para una fila completa

In [38]:
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

Establecer valor para una columna completa

In [39]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

Establecer valor para filas que coincidan con la condici√≥n invocable

In [40]:
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

Obtener valores en un DataFrame con un √≠ndice que tiene etiquetas enteras

Otro ejemplo usando enteros para el √≠ndice

In [41]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],index=[7, 8, 9], columns=['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

Corte con etiquetas enteras para filas. Como se mencion√≥ anteriormente, tenga en cuenta que se incluyen tanto el inicio como la parada del segmento.

In [50]:
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8

Indexaci√≥n basada puramente en la ubicaci√≥n de n√∫meros enteros para la selecci√≥n por posici√≥n.

.iloc[] se basa principalmente en posiciones enteras (desde 0a length-1del eje), pero tambi√©n se puede utilizar con una matriz booleana.

In [42]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

Indexando solo las filas

Con un entero escalar.

In [43]:
type(df.iloc[0])
df.iloc[0]

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

Con una lista de n√∫meros enteros.

In [44]:
df.iloc[[0]]

   a  b  c  d
0  1  2  3  4

In [45]:
df.iloc[[0, 1]]

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

Con un objeto de corte.

In [46]:
df.iloc[:3]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

Con una m√°scara booleana de la misma longitud que el √≠ndice.

In [47]:
df.iloc[[True, False, True]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

Con un invocable, √∫til en cadenas de m√©todos. La x pasada al lambdaes el DataFrame que se est√° cortando. Esto selecciona las filas cuya etiqueta de √≠ndice sea uniforme.

In [48]:
df.iloc[lambda x: x.index % 2 == 0]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

Indexando ambos ejes

Puede mezclar los tipos de indexadores para el √≠ndice y las columnas. Use :para seleccionar todo el eje.

Con n√∫meros enteros escalares.

In [49]:
df.iloc[0, 1]

2

Con listas de enteros.

In [50]:
df.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

Con objetos de corte.

In [52]:
df.iloc[1:3, 0:3]

      a     b     c
1   100   200   300
2  1000  2000  3000

Con una matriz booleana cuya longitud coincide con las columnas.

In [53]:
df.iloc[:, [True, False, True, False]]

      a     c
0     1     3
1   100   300
2  1000  3000

Con una funci√≥n invocable que espera la Serie o DataFrame.

In [54]:
df.iloc[:, lambda df: [0, 2]]

      a     c
0     1     3
1   100   300
2  1000  3000

pandas.Series .__ iter__()

Devuelve un iterador de los valores.

Estos son cada uno de un tipo escalar, que es un escalar de Python (para str, int, float) o un escalar de pandas

Repetir perezosamente sobre tuplas (√≠ndice, valor).

Este m√©todo devuelve una tupla iterable (√≠ndice, valor). Esto es conveniente si desea crear un iterador perezoso.

In [55]:
s = pd.Series(['A', 'B', 'C'])
for index, value in s.items():
    print(f"Index : {index}, Value : {value}")

Index : 0, Value : A
Index : 1, Value : B
Index : 2, Value : C

Devolver art√≠culo y gotas de serie. Genere KeyError si no se encuentra.

In [56]:
ser = pd.Series([1,2,3])
ser

0    1
1    2
2    3
dtype: int64

In [57]:
ser.pop(0)

1

In [58]:
ser

1    2
2    3
dtype: int64

### Funciones de operador binario (Muy importante)

Retorno Suma de series y otros elementos por elemento (operador binario suma).

In [62]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
print(a)
print("\n")
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(b)
print("\n")
a.add(b, fill_value=0)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64


a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
dtype: float64

Retorno Resta de series y otros elementos por elemento (operador binario sub ).

In [64]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
print(a)
print("\n")
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(b)
print("\n")
a.subtract(b, fill_value=0)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64


a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

a    0.0
b    1.0
c    1.0
d   -1.0
e    NaN
dtype: float64

Retorno Multiplicaci√≥n de series y otros elementos por elementos (operador binario mul ).

In [65]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
print(a)
print("\n")
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(b)
print("\n")
a.multiply(b, fill_value=0)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64


a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

a    1.0
b    0.0
c    0.0
d    0.0
e    NaN
dtype: float64

Retorno Divisi√≥n flotante de series y otros elementos por elemento (operador binario truediv ).

In [69]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
print(a)
print("\n")
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(b)
print("\n")
a.divide(b, fill_value=0)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64


a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

a    1.0
b    inf
c    inf
d    0.0
e    NaN
dtype: float64

Devuelve el m√≥dulo de serie y otros elementos por elemento (operador binario mod ).

In [71]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
print(a)
print("\n")
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(b)
print("\n")
a.mod(b, fill_value=0)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64


a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

a    0.0
b    NaN
c    NaN
d    0.0
e    NaN
dtype: float64

Devuelve Potencia exponencial de serie y otra, elemento-sabio (operador binario pow ).

In [72]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
print(a)
print("\n")
b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
print(b)
print("\n")
a.pow(b, fill_value=0)

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64


a    1.0
b    NaN
d    1.0
e    NaN
dtype: float64

a    1.0
b    1.0
c    1.0
d    0.0
e    NaN
dtype: float64

Combine la Serie con una Serie o escalar seg√∫n func.

Combinar la serie y la otra usando func para llevar a cabo la selecci√≥n elementwise para la Serie combinado. fill_value se asume cuando falta valor en alg√∫n √≠ndice de uno de los dos objetos que se combinan.

In [75]:
s1 = pd.Series({'falcon': 330.0, 'eagle': 160.0})
print(s1)
print("\n")
s2 = pd.Series({'falcon': 345.0, 'eagle': 200.0, 'duck': 30.0})
print(s2)
print("\n")

falcon    330.0
eagle     160.0
dtype: float64
falcon    345.0
eagle     200.0
duck       30.0
dtype: float64

Ahora, para combinar los dos conjuntos de datos y ver las velocidades m√°s altas de las aves en los dos conjuntos de datos

In [76]:
s1.combine(s2, max)

duck        NaN
eagle     200.0
falcon    345.0
dtype: float64

En el ejemplo anterior, falta el valor resultante para pato, porque el m√°ximo de un NaN y un flotador es un NaN. Entonces, en el ejemplo, establecemos fill_value=0, por lo que el valor m√°ximo devuelto ser√° el valor de alg√∫n conjunto de datos.

In [77]:
s1.combine(s2, max, fill_value=0)

duck       30.0
eagle     200.0
falcon    345.0
dtype: float64

In [ ]:
Combine los valores de la Serie, eligiendo primero los valores de la Serie que llama.

In [79]:
s1 = pd.Series([1, np.nan])
print(s1)
print("\n")
s2 = pd.Series([3, 4])
print(s2)
print("\n")
s1.combine_first(s2)

0    1.0
1    NaN
dtype: float64


0    3
1    4
dtype: int64

0    1.0
1    4.0
dtype: float64

Redondea cada valor de una serie al n√∫mero dado de decimales.

In [80]:
s = pd.Series([0.1, 1.3, 2.7])
print(s)
s.round()

0    0.1
1    1.3
2    2.7
dtype: float64

0    0.0
1    1.0
2    3.0
dtype: float64

Devuelve Menor que de serie y otro, elemento-sabio (operador binario lt ).

In [ ]:










print(datos.rmul(self, other[, level, ‚Ä¶]))
print("\n")
print(datos.rdiv(self, other[, level, ‚Ä¶]))
print("\n")
print(datos.rtruediv(self, other[, level, ‚Ä¶]))
print("\n")
print(datos.rfloordiv(self, other[, level, ‚Ä¶]))
print("\n")
print(datos.rmod(self, other[, level, ‚Ä¶]))
print("\n")
print(datos.rpow(self, other[, level, ‚Ä¶]))
print("\n")
print(datos.combine(self, other, func[, fill_value]))
print("\n")
print(datos.combine_first(self, other))
print("\n")
print(datos.round(self[, decimals]))
print("\n")
print(datos.lt(self, other[, level, fill_value, axis]))
print("\n")
print(datos.gt(self, other[, level, fill_value, axis]))
print("\n")
print(datos.le(self, other[, level, fill_value, axis]))
print("\n")
print(datos.ge(self, other[, level, fill_value, axis]))
print("\n")
print(datos.ne(self, other[, level, fill_value, axis]))
print("\n")
print(datos.eq(self, other[, level, fill_value, axis]))
print("\n")
print(datos.product(self[, axis, skipna, level, ‚Ä¶]))
print("\n")
print(datos.dot(self, other))
print("\n")

<b>Aplicaci√≥n de funciones, groupby y window

In [ ]:
Series.apply(self, func[, convert_dtype, args])

Invoke function on values of Series.

Series.agg(self, func[, axis])

Aggregate using one or more operations over the specified axis.

Series.aggregate(self, func[, axis])

Aggregate using one or more operations over the specified axis.

Series.transform(self, func[, axis])

Call func on self producing a Series with transformed values.

Series.map(self, arg[, na_action])

Map values of Series according to input correspondence.

Series.groupby(self[, by, axis, level])

Group Series using a mapper or by a Series of columns.

Series.rolling(self, window[, min_periods, ‚Ä¶])

Provide rolling window calculations.

Series.expanding(self[, min_periods, ‚Ä¶])

Provide expanding transformations.

Series.ewm(self[, com, span, halflife, ‚Ä¶])

Provide exponential weighted functions.

Series.pipe(self, func, \*args, \*\*kwargs)

Apply func(self, *args, **kwargs).

<b>C√°lculos / estad√≠sticas descriptivas

In [ ]:
Series.abs(self)

Return a Series/DataFrame with absolute numeric value of each element.

Series.all(self[, axis, bool_only, skipna, ‚Ä¶])

Return whether all elements are True, potentially over an axis.

Series.any(self[, axis, bool_only, skipna, ‚Ä¶])

Return whether any element is True, potentially over an axis.

Series.autocorr(self[, lag])

Compute the lag-N autocorrelation.

Series.between(self, left, right[, inclusive])

Return boolean Series equivalent to left <= series <= right.

Series.clip(self[, lower, upper, axis])

Trim values at input threshold(s).

Series.corr(self, other[, method, min_periods])

Compute correlation with other Series, excluding missing values.

Series.count(self[, level])

Return number of non-NA/null observations in the Series.

Series.cov(self, other[, min_periods])

Compute covariance with Series, excluding missing values.

Series.cummax(self[, axis, skipna])

Return cumulative maximum over a DataFrame or Series axis.

Series.cummin(self[, axis, skipna])

Return cumulative minimum over a DataFrame or Series axis.

Series.cumprod(self[, axis, skipna])

Return cumulative product over a DataFrame or Series axis.

Series.cumsum(self[, axis, skipna])

Return cumulative sum over a DataFrame or Series axis.

Series.describe(self[, percentiles, ‚Ä¶])

Generate descriptive statistics.

Series.diff(self[, periods])

First discrete difference of element.

Series.factorize(self[, sort, na_sentinel])

Encode the object as an enumerated type or categorical variable.

Series.kurt(self[, axis, skipna, level, ‚Ä¶])

Return unbiased kurtosis over requested axis.

Series.mad(self[, axis, skipna, level])

Return the mean absolute deviation of the values for the requested axis.

Series.max(self[, axis, skipna, level, ‚Ä¶])

Return the maximum of the values for the requested axis.

Series.mean(self[, axis, skipna, level, ‚Ä¶])

Return the mean of the values for the requested axis.

Series.median(self[, axis, skipna, level, ‚Ä¶])

Return the median of the values for the requested axis.

Series.min(self[, axis, skipna, level, ‚Ä¶])

Return the minimum of the values for the requested axis.

Series.mode(self[, dropna])

Return the mode(s) of the dataset.

Series.nlargest(self[, n, keep])

Return the largest n elements.

Series.nsmallest(self[, n, keep])

Return the smallest n elements.

Series.pct_change(self[, periods, ‚Ä¶])

Percentage change between the current and a prior element.

Series.prod(self[, axis, skipna, level, ‚Ä¶])

Return the product of the values for the requested axis.

Series.quantile(self[, q, interpolation])

Return value at the given quantile.

Series.rank(self[, axis])

Compute numerical data ranks (1 through n) along axis.

Series.sem(self[, axis, skipna, level, ‚Ä¶])

Return unbiased standard error of the mean over requested axis.

Series.skew(self[, axis, skipna, level, ‚Ä¶])

Return unbiased skew over requested axis.

Series.std(self[, axis, skipna, level, ‚Ä¶])

Return sample standard deviation over requested axis.

Series.sum(self[, axis, skipna, level, ‚Ä¶])

Return the sum of the values for the requested axis.

Series.var(self[, axis, skipna, level, ‚Ä¶])

Return unbiased variance over requested axis.

Series.kurtosis(self[, axis, skipna, level, ‚Ä¶])

Return unbiased kurtosis over requested axis.

Series.unique(self)

Return unique values of Series object.

Series.nunique(self[, dropna])

Return number of unique elements in the object.

Series.is_unique

Return boolean if values in the object are unique.

Series.is_monotonic

Return boolean if values in the object are monotonic_increasing.

Series.is_monotonic_increasing

Return boolean if values in the object are monotonic_increasing.

Series.is_monotonic_decreasing

Return boolean if values in the object are monotonic_decreasing.

Series.value_counts(self[, normalize, sort, ‚Ä¶])

Return a Series containing counts of unique values.

<b>Reindexaci√≥n / selecci√≥n / manipulaci√≥n de etiquetas

In [ ]:
Series.align(self, other[, join, axis, ‚Ä¶])

Align two objects on their axes with the specified join method.

Series.drop(self[, labels, axis, index, ‚Ä¶])

Return Series with specified index labels removed.

Series.droplevel(self, level[, axis])

Return DataFrame with requested index / column level(s) removed.

Series.drop_duplicates(self[, keep, inplace])

Return Series with duplicate values removed.

Series.duplicated(self[, keep])

Indicate duplicate Series values.

Series.equals(self, other)

Test whether two objects contain the same elements.

Series.first(self, offset)

Method to subset initial periods of time series data based on a date offset.

Series.head(self, n)

Return the first n rows.

Series.idxmax(self[, axis, skipna])

Return the row label of the maximum value.

Series.idxmin(self[, axis, skipna])

Return the row label of the minimum value.

Series.isin(self, values)

Check whether values are contained in Series.

Series.last(self, offset)

Method to subset final periods of time series data based on a date offset.

Series.reindex(self[, index])

Conform Series to new index with optional filling logic.

Series.reindex_like(self, other, method, ‚Ä¶)

Return an object with matching indices as other object.

Series.rename(self[, index, axis, copy, ‚Ä¶])

Alter Series index labels or name.

Series.rename_axis(self[, mapper, index, ‚Ä¶])

Set the name of the axis for the index or columns.

Series.reset_index(self[, level, drop, ‚Ä¶])

Generate a new DataFrame or Series with the index reset.

Series.sample(self[, n, frac, replace, ‚Ä¶])

Return a random sample of items from an axis of object.

Series.set_axis(self, labels[, axis, inplace])

Assign desired index to given axis.

Series.take(self, indices[, axis, is_copy])

Return the elements in the given positional indices along an axis.

Series.tail(self, n)

Return the last n rows.

Series.truncate(self[, before, after, axis])

Truncate a Series or DataFrame before and after some index value.

Series.where(self, cond[, other, inplace, ‚Ä¶])

Replace values where the condition is False.

Series.mask(self, cond[, other, inplace, ‚Ä¶])

Replace values where the condition is True.

Series.add_prefix(self, prefix)

Prefix labels with string prefix.

Series.add_suffix(self, suffix)

Suffix labels with string suffix.

Series.filter(self[, items, axis])

Subset the dataframe rows or columns according to the specified index labels.

<b>Falta el manejo de datos (Missing data handling)

In [ ]:
Series.isna(self)

Detect missing values.

Series.notna(self)

Detect existing (non-missing) values.

Series.dropna(self[, axis, inplace, how])

Return a new Series with missing values removed.

Series.fillna(self[, value, method, axis, ‚Ä¶])

Fill NA/NaN values using the specified method.

Series.interpolate(self[, method, axis, ‚Ä¶])

Interpolate values according to different methods.

<b>Remodelaci√≥n, clasificaci√≥n (Reshaping, sorting)

In [ ]:
Series.argsort(self[, axis, kind, order])

Override ndarray.argsort.

Series.argmin(self[, axis, skipna])

Return a ndarray of the minimum argument indexer.

Series.argmax(self[, axis, skipna])

Return an ndarray of the maximum argument indexer.

Series.reorder_levels(self, order)

Rearrange index levels using input order.

Series.sort_values(self[, axis, ascending, ‚Ä¶])

Sort by the values.

Series.sort_index(self[, axis, level, ‚Ä¶])

Sort Series by index labels.

Series.swaplevel(self[, i, j, copy])

Swap levels i and j in a MultiIndex.

Series.unstack(self[, level, fill_value])

Unstack, a.k.a.

Series.explode(self)

Transform each element of a list-like to a row, replicating the index values.

Series.searchsorted(self, value[, side, sorter])

Find indices where elements should be inserted to maintain order.

Series.ravel(self[, order])

Return the flattened underlying data as an ndarray.

Series.repeat(self, repeats[, axis])

Repeat elements of a Series.

Series.squeeze(self[, axis])

Squeeze 1 dimensional axis objects into scalars.

Series.view(self[, dtype])

Create a new view of the Series.

<b>Combinar unir y fusionar series (Combining / joining / merging)

In [ ]:
Series.append(self, to_append[, ‚Ä¶])

Series.replace(self[, to_replace, value, ‚Ä¶])

Series.update(self, other)

<b>Relacionado con series de tiempo (Time series-related) (muy importante)

In [ ]:
Series.asfreq(self, freq[, method, fill_value])



Series.asof(self, where[, subset])



Series.shift(self[, periods, freq, axis, ‚Ä¶])



Series.first_valid_index(self)



Series.last_valid_index(self)



Series.resample(self, rule[, axis, loffset, ‚Ä¶])

Resample time-series data.

Series.tz_convert(self, tz[, axis, level])

Convert tz-aware axis to target time zone.

Series.tz_localize(self, tz[, axis, level, ‚Ä¶])

Localize tz-naive index of a Series or DataFrame to target time zone.

Series.at_time(self, time, asof[, axis])

Select values at particular time of day (e.g.

Series.between_time(self, start_time, ‚Ä¶[, ‚Ä¶])

Select values between particular times of the day (e.g., 9:00-9:30 AM).

Series.tshift(self, periods[, freq, axis])

Shift the time index, using the index‚Äôs frequency if available.

Series.slice_shift(self, periods[, axis])

Equivalent to shift without copying data.

Accesorios
Pandas proporciona m√©todos espec√≠ficos de dtype bajo varios accesores. Estos son espacios de nombres separados dentro de Series que solo se aplican a tipos de datos espec√≠ficos.

Hasta aca tenemos el tema de la libreria Pandas, la cual es una de las librerias mas
importantes para analisis de datos. Para una observacion mas detallada de la libreria consultar la referencia de 
Pandas https://pandas.pydata.org/docs/reference/index.html.<br>
Si tienes alguna duda no olvides escribir a <br>
<b>andres.programacion123@gmail.com</b>