# Taller 2 Técnicas de Inteligencia Artificial

 ![Otro texto](http://www.udea.edu.co/wps/wcm/connect/udea/abb2bfd3-5e1d-4b6c-ab1f-3addb87b7b22/escudo.jpg?MOD=AJPERES&CACHEID=ROOTWORKSPACE.Z18_L8L8H8C0LODDC0A6SSS2AD2GO4-abb2bfd3-5e1d-4b6c-ab1f-3addb87b7b22-kMALT8L)

# Pivot

## Cargar Datos

In [0]:
import pandas as pd
import urllib
from functools import reduce

In [0]:
data_url = 'http://bit.ly/2cLzoxH'

In [0]:
with urllib.request.urlopen(data_url) as f:
  dataset=f.read().decode().split('\n')
datos=[x.split(',') for x in dataset]
datos[:10]

[['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'],
 ['Afghanistan', '1952', '8425333', 'Asia', '28.801', '779.4453145'],
 ['Afghanistan', '1957', '9240934', 'Asia', '30.332', '820.8530296'],
 ['Afghanistan', '1962', '10267083', 'Asia', '31.997', '853.10071'],
 ['Afghanistan', '1967', '11537966', 'Asia', '34.02', '836.1971382'],
 ['Afghanistan', '1972', '13079460', 'Asia', '36.088', '739.9811058'],
 ['Afghanistan', '1977', '14880372', 'Asia', '38.438', '786.11336'],
 ['Afghanistan', '1982', '12881816', 'Asia', '39.854', '978.0114388'],
 ['Afghanistan', '1987', '13867957', 'Asia', '40.822', '852.3959448'],
 ['Afghanistan', '1992', '16317921', 'Asia', '41.674', '649.3413952']]

## Ejercicio: Población por Continente por Año (Sin Pandas)

In [0]:
conts=[x[3] for x in datos[1:-1]] #Extrae todos los continentes
conts=set(conts) #Quita duplicados
conts=list(conts) #Lo convierte a lista
conts=sorted(conts)# Lo ordena
conts

['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']

In [0]:
years=sorted(list(set([int(x[1]) for x in data[1:-1]])))
years

[1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002, 2007]

In [0]:
list(filter(lambda x: x[1]=='1952' and x[3]=='Americas',datos[1:-1])) #Población de todos los paises en America en 1952

[['Argentina', '1952', '17876956', 'Americas', '62.485', '5911.315053'],
 ['Bolivia', '1952', '2883315', 'Americas', '40.414', '2677.326347'],
 ['Brazil', '1952', '56602560', 'Americas', '50.917', '2108.944355'],
 ['Canada', '1952', '14785584', 'Americas', '68.75', '11367.16112'],
 ['Chile', '1952', '6377619', 'Americas', '54.745', '3939.978789'],
 ['Colombia', '1952', '12350771', 'Americas', '50.643', '2144.115096'],
 ['Costa Rica', '1952', '926317', 'Americas', '57.206', '2627.009471'],
 ['Cuba', '1952', '6007797', 'Americas', '59.421', '5586.53878'],
 ['Dominican Republic',
  '1952',
  '2491346',
  'Americas',
  '45.928',
  '1397.717137'],
 ['Ecuador', '1952', '3548753', 'Americas', '48.357', '3522.110717'],
 ['El Salvador', '1952', '2042865', 'Americas', '45.262', '3048.3029'],
 ['Guatemala', '1952', '3146381', 'Americas', '42.023', '2428.237769'],
 ['Haiti', '1952', '3201488', 'Americas', '37.579', '1840.366939'],
 ['Honduras', '1952', '1517453', 'Americas', '41.912', '2194.926204'],
 ['Jamaica', '1952', '1426095', 'Americas', '58.53', '2898.530881'],
 ['Mexico', '1952', '30144317', 'Americas', '50.789', '3478.125529'],
 ['Nicaragua', '1952', '1165790', 'Americas', '42.314', '3112.363948'],
 ['Panama', '1952', '940080', 'Americas', '55.191', '2480.380334'],
 ['Paraguay', '1952', '1555876', 'Americas', '62.649', '1952.308701'],
 ['Peru', '1952', '8025700', 'Americas', '43.902', '3758.523437'],
 ['Puerto Rico', '1952', '2227000', 'Americas', '64.28', '3081.959785'],
 ['Trinidad and Tobago', '1952', '662850', 'Americas', '59.1', '3023.271928'],
 ['United States', '1952', '157553000', 'Americas', '68.44', '13990.48208'],
 ['Uruguay', '1952', '2252965', 'Americas', '66.071', '5716.766744'],
 ['Venezuela', '1952', '5439568', 'Americas', '55.088', '7689.799761']]

In [0]:
piv=[['{}-{}-{}'.format(x,y,reduce(lambda w,z:w+z,map(lambda z: float(z[2]),filter(lambda z: int(z[1])==y and z[3]==x,data[1:-1])))) for y in years]for x in conts]
piv

[['Africa-1952-237640501.0',
  'Africa-1957-264837738.0',
  'Africa-1962-296516865.0',
  'Africa-1967-335289489.0',
  'Africa-1972-379879541.0',
  'Africa-1977-433061021.0',
  'Africa-1982-499348587.0',
  'Africa-1987-574834110.0',
  'Africa-1992-659081517.0',
  'Africa-1997-743832984.0',
  'Africa-2002-833723916.0',
  'Africa-2007-929539692.0'],
 ['Americas-1952-345152446.0',
  'Americas-1957-386953916.0',
  'Americas-1962-433270254.0',
  'Americas-1967-480746623.0',
  'Americas-1972-529384210.0',
  'Americas-1977-578067699.0',
  'Americas-1982-630290920.0',
  'Americas-1987-682753971.0',
  'Americas-1992-739274104.0',
  'Americas-1997-796900410.0',
  'Americas-2002-849772762.0',
  'Americas-2007-898871184.0'],
 ['Asia-1952-1395357351.999989',
  'Asia-1957-1562780599.0',
  'Asia-1962-1696357182.0',
  'Asia-1967-1905662900.0',
  'Asia-1972-2150972248.0',
  'Asia-1977-2384513556.0',
  'Asia-1982-2610135582.0',
  'Asia-1987-2871220762.0',
  'Asia-1992-3133292191.0',
  'Asia-1997-3383285500.0',
  'Asia-2002-3601802203.0',
  'Asia-2007-3811953827.0'],
 ['Europe-1952-418120846.0',
  'Europe-1957-437890351.0',
  'Europe-1962-460355155.0',
  'Europe-1967-481178958.0',
  'Europe-1972-500635059.0',
  'Europe-1977-517164531.0',
  'Europe-1982-531266901.0',
  'Europe-1987-543094160.0',
  'Europe-1992-558142797.0',
  'Europe-1997-568944148.0',
  'Europe-2002-578223869.0',
  'Europe-2007-586098529.0'],
 ['Oceania-1952-10686006.0',
  'Oceania-1957-11941976.0',
  'Oceania-1962-13283518.0',
  'Oceania-1967-14600414.0',
  'Oceania-1972-16106100.0',
  'Oceania-1977-17239000.0',
  'Oceania-1982-18394850.0',
  'Oceania-1987-19574415.0',
  'Oceania-1992-20919651.0',
  'Oceania-1997-22241430.0',
  'Oceania-2002-23454829.0',
  'Oceania-2007-24549947.0']]

## Cargar los datos

In [0]:
df = pd.read_csv(data_url)
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

## Expectativa de Vida por Continente y Año

In [0]:
pd.pivot_table(df,values='lifeExp',columns='continent')

continent    Africa   Americas       Asia     Europe    Oceania
lifeExp    48.86533  64.658737  60.064903  71.903686  74.326208

In [0]:
pd.pivot_table(df,index='continent',values='lifeExp',columns='year')

year            1952       1957       1962  ...       1997       2002       2007
continent                                   ...
Africa     39.135500  41.266346  43.319442  ...  53.598269  53.325231  54.806038
Americas   53.279840  55.960280  58.398760  ...  71.150480  72.422040  73.608120
Asia       46.314394  49.318544  51.563223  ...  68.020515  69.233879  70.728485
Europe     64.408500  66.703067  68.539233  ...  75.505167  76.700600  77.648600
Oceania    69.255000  70.295000  71.085000  ...  78.190000  79.740000  80.719500

[5 rows x 12 columns]

In [0]:
pd.pivot_table(df,index='year',values='lifeExp',columns='continent')

continent     Africa  Americas       Asia     Europe  Oceania
year
1952       39.135500  53.27984  46.314394  64.408500  69.2550
1957       41.266346  55.96028  49.318544  66.703067  70.2950
1962       43.319442  58.39876  51.563223  68.539233  71.0850
1967       45.334538  60.41092  54.663640  69.737600  71.3100
1972       47.450942  62.39492  57.319269  70.775033  71.9100
1977       49.580423  64.39156  59.610556  71.937767  72.8550
1982       51.592865  66.22884  62.617939  72.806400  74.2900
1987       53.344788  68.09072  64.851182  73.642167  75.3200
1992       53.629577  69.56836  66.537212  74.440100  76.9450
1997       53.598269  71.15048  68.020515  75.505167  78.1900
2002       53.325231  72.42204  69.233879  76.700600  79.7400
2007       54.806038  73.60812  70.728485  77.648600  80.7195

In [0]:
df.pivot_table(index='year',values='lifeExp',columns='continent') #Otra forma de hacer el de arriba

continent     Africa  Americas       Asia     Europe  Oceania
year
1952       39.135500  53.27984  46.314394  64.408500  69.2550
1957       41.266346  55.96028  49.318544  66.703067  70.2950
1962       43.319442  58.39876  51.563223  68.539233  71.0850
1967       45.334538  60.41092  54.663640  69.737600  71.3100
1972       47.450942  62.39492  57.319269  70.775033  71.9100
1977       49.580423  64.39156  59.610556  71.937767  72.8550
1982       51.592865  66.22884  62.617939  72.806400  74.2900
1987       53.344788  68.09072  64.851182  73.642167  75.3200
1992       53.629577  69.56836  66.537212  74.440100  76.9450
1997       53.598269  71.15048  68.020515  75.505167  78.1900
2002       53.325231  72.42204  69.233879  76.700600  79.7400
2007       54.806038  73.60812  70.728485  77.648600  80.7195

In [0]:
df.pivot_table(index='year',values='lifeExp',columns='continent',aggfunc='mean') #Ojo con el aggfunc, da igual que arriba

continent     Africa  Americas       Asia     Europe  Oceania
year
1952       39.135500  53.27984  46.314394  64.408500  69.2550
1957       41.266346  55.96028  49.318544  66.703067  70.2950
1962       43.319442  58.39876  51.563223  68.539233  71.0850
1967       45.334538  60.41092  54.663640  69.737600  71.3100
1972       47.450942  62.39492  57.319269  70.775033  71.9100
1977       49.580423  64.39156  59.610556  71.937767  72.8550
1982       51.592865  66.22884  62.617939  72.806400  74.2900
1987       53.344788  68.09072  64.851182  73.642167  75.3200
1992       53.629577  69.56836  66.537212  74.440100  76.9450
1997       53.598269  71.15048  68.020515  75.505167  78.1900
2002       53.325231  72.42204  69.233879  76.700600  79.7400
2007       54.806038  73.60812  70.728485  77.648600  80.7195

## Múltiples Funciones Agregadoras

In [0]:
df.pivot_table(index='year',values='lifeExp',columns='continent',aggfunc=['min','mean','max'])

              min                           ...      max
continent  Africa Americas    Asia  Europe  ... Americas    Asia  Europe Oceania
year                                        ...
1952       30.000   37.579  28.801  43.585  ...   68.750  65.390  72.670  69.390
1957       31.570   40.696  30.332  48.079  ...   69.960  67.840  73.470  70.330
1962       32.767   43.428  31.997  52.098  ...   71.300  69.390  73.680  71.240
1967       34.113   45.032  34.020  54.336  ...   72.130  71.430  74.160  71.520
1972       35.400   46.714  36.088  57.005  ...   72.880  73.420  74.720  71.930
1977       36.788   49.923  31.220  59.507  ...   74.210  75.380  76.110  73.490
1982       38.445   51.461  39.854  61.036  ...   75.760  77.110  76.990  74.740
1987       39.906   53.636  40.822  63.108  ...   76.860  78.670  77.410  76.320
1992       23.599   55.089  41.674  66.146  ...   77.950  79.360  78.770  77.560
1997       36.087   56.671  41.763  68.835  ...   78.610  80.690  79.390  78.830
2002       39.193   58.137  42.129  70.845  ...   79.770  82.000  80.620  80.370
2007       39.613   60.916  43.828  71.777  ...   80.653  82.603  81.757  81.235

[12 rows x 15 columns]

## Múltiples Columnas

In [0]:
df.pivot_table(index='year',values='pop',columns=['continent','country'])

continent      Africa              ...     Oceania
country       Algeria      Angola  ...   Australia New Zealand
year                               ...
1952        9279525.0   4232095.0  ...   8691212.0   1994794.0
1957       10270856.0   4561361.0  ...   9712569.0   2229407.0
1962       11000948.0   4826015.0  ...  10794968.0   2488550.0
1967       12760499.0   5247469.0  ...  11872264.0   2728150.0
1972       14760787.0   5894858.0  ...  13177000.0   2929100.0
1977       17152804.0   6162675.0  ...  14074100.0   3164900.0
1982       20033753.0   7016384.0  ...  15184200.0   3210650.0
1987       23254956.0   7874230.0  ...  16257249.0   3317166.0
1992       26298373.0   8735988.0  ...  17481977.0   3437674.0
1997       29072015.0   9875024.0  ...  18565243.0   3676187.0
2002       31287142.0  10866106.0  ...  19546792.0   3908037.0
2007       33333216.0  12420476.0  ...  20434176.0   4115771.0

[12 rows x 142 columns]

## Múltiples Variables a Resumir

In [0]:
df.pivot_table(index='year',values=['lifeExp','gdpPercap'],columns='continent')

             gdpPercap                ...    lifeExp
continent       Africa      Americas  ...     Europe  Oceania
year                                  ...
1952       1252.572466   4079.062552  ...  64.408500  69.2550
1957       1385.236062   4616.043733  ...  66.703067  70.2950
1962       1598.078825   4901.541870  ...  68.539233  71.0850
1967       2050.363801   5668.253496  ...  69.737600  71.3100
1972       2339.615674   6491.334139  ...  70.775033  71.9100
1977       2585.938508   7352.007126  ...  71.937767  72.8550
1982       2481.592960   7506.737088  ...  72.806400  74.2900
1987       2282.668991   7793.400261  ...  73.642167  75.3200
1992       2281.810333   8044.934406  ...  74.440100  76.9450
1997       2378.759555   8889.300863  ...  75.505167  78.1900
2002       2599.385159   9287.677107  ...  76.700600  79.7400
2007       3089.032605  11003.031625  ...  77.648600  80.7195

[12 rows x 10 columns]

## Múltiples Variables y Filas

In [0]:
df.pivot_table(index=['continent','country'],values=['lifeExp','gdpPercap'],columns='year')

                                       gdpPercap                ... lifeExp
year                                        1952          1957  ...    2002    2007
continent country                                               ...
Africa    Algeria                    2449.008185   3013.976023  ...  70.994  72.301
          Angola                     3520.610273   3827.940465  ...  41.003  42.731
          Benin                      1062.752200    959.601080  ...  54.406  56.728
          Botswana                    851.241141    918.232535  ...  46.634  50.728
          Burkina Faso                543.255241    617.183465  ...  50.650  52.295
          Burundi                     339.296459    379.564628  ...  47.360  49.580
          Cameroon                   1172.667655   1313.048099  ...  49.856  50.430
          Central African Republic   1071.310713   1190.844328  ...  43.308  44.741
          Chad                       1178.665927   1308.495577  ...  50.525  50.651
          Comoros                    1102.990936   1211.148548  ...  62.974  65.152
          Congo Dem. Rep.             780.542326    905.860230  ...  44.966  46.462
          Congo Rep.                 2125.621418   2315.056572  ...  52.970  55.322
          Cote d'Ivoire              1388.594732   1500.895925  ...  46.832  48.328
          Djibouti                   2669.529475   2864.969076  ...  53.373  54.791
          Egypt                      1418.822445   1458.915272  ...  69.806  71.338
          Equatorial Guinea           375.643123    426.096408  ...  49.348  51.579
          Eritrea                     328.940557    344.161886  ...  55.240  58.040
          Ethiopia                    362.146280    378.904163  ...  50.725  52.947
          Gabon                      4293.476475   4976.198099  ...  56.761  56.735
          Gambia                      485.230659    520.926711  ...  58.041  59.448
          Ghana                       911.298937   1043.561537  ...  58.453  60.022
          Guinea                      510.196492    576.267025  ...  53.676  56.007
          Guinea-Bissau               299.850319    431.790457  ...  45.504  46.388
          Kenya                       853.540919    944.438315  ...  50.992  54.110
          Lesotho                     298.846212    335.997115  ...  44.593  42.592
          Liberia                     575.572996    620.969990  ...  43.753  45.678
          Libya                      2387.548060   3448.284395  ...  72.737  73.952
          Madagascar                 1443.011715   1589.202750  ...  57.286  59.443
          Malawi                      369.165080    416.369806  ...  45.009  48.303
          Mali                        452.336981    490.382187  ...  51.818  54.467
...                                          ...           ...  ...     ...     ...
Europe    Belgium                    8343.105127   9714.960623  ...  78.320  79.441
          Bosnia and Herzegovina      973.533195   1353.989176  ...  74.090  74.852
          Bulgaria                   2444.286648   3008.670727  ...  72.140  73.005
          Croatia                    3119.236520   4338.231617  ...  74.876  75.748
          Czech Republic             6876.140250   8256.343918  ...  75.510  76.486
          Denmark                    9692.385245  11099.659350  ...  77.180  78.332
          Finland                    6424.519071   7545.415386  ...  78.370  79.313
          France                     7029.809327   8662.834898  ...  79.590  80.657
          Germany                    7144.114393  10187.826650  ...  78.670  79.406
          Greece                     3530.690067   4916.299889  ...  78.256  79.483
          Hungary                    5263.673816   6040.180011  ...  72.590  73.338
          Iceland                    7267.688428   9244.001412  ...  80.500  81.757
          Ireland                    5210.280328   5599.077872  ...  77.783  78.885
          Italy                      4931.404155   6248.656232  ...  80.240  80.546
          Montenegro                 2647.585601   3682.259903  ...  73.981  74.543
          Netherlands                8941.571858  11276.193440  ...  78.530  79.762
          Norway                    10095.421720  11653.973040  ...  79.050  80.196
          Poland                     4029.329699   4734.253019  ...  74.670  75.563
          Portugal                   3068.319867   3774.571743  ...  77.290  78.098
          Romania                    3144.613186   3943.370225  ...  71.322  72.476
          Serbia                     3581.459448   4981.090891  ...  73.213  74.002
          Slovak Republic            5074.659104   6093.262980  ...  73.800  74.663
          Slovenia                   4215.041741   5862.276629  ...  76.660  77.926
          Spain                      3834.034742   4564.802410  ...  79.780  80.941
          Sweden                     8527.844662   9911.878226  ...  80.040  80.884
          Switzerland               14734.232750  17909.489730  ...  80.620  81.701
          Turkey                     1969.100980   2218.754257  ...  70.845  71.777
          United Kingdom             9979.508487  11283.177950  ...  78.471  79.425
Oceania   Australia                 10039.595640  10949.649590  ...  80.370  81.235
          New Zealand               10556.575660  12247.395320  ...  79.110  80.204

[142 rows x 24 columns]

## Pivot con Filtro

In [0]:
df[df.continent=='Oceania'].pivot_table(index='year',values='lifeExp',columns='country')

country  Australia  New Zealand
year
1952        69.120       69.390
1957        70.330       70.260
1962        70.930       71.240
1967        71.100       71.520
1972        71.930       71.890
1977        73.490       72.220
1982        74.740       73.840
1987        76.320       74.320
1992        77.560       76.330
1997        78.830       77.550
2002        80.370       79.110
2007        81.235       80.204

## Solución: Población por Continente y Año con Pandas

In [0]:
df.pivot_table(index='year',values='pop',columns='continent',aggfunc='sum')

continent       Africa     Americas          Asia       Europe     Oceania
year
1952       237640501.0  345152446.0  1.395357e+09  418120846.0  10686006.0
1957       264837738.0  386953916.0  1.562781e+09  437890351.0  11941976.0
1962       296516865.0  433270254.0  1.696357e+09  460355155.0  13283518.0
1967       335289489.0  480746623.0  1.905663e+09  481178958.0  14600414.0
1972       379879541.0  529384210.0  2.150972e+09  500635059.0  16106100.0
1977       433061021.0  578067699.0  2.384514e+09  517164531.0  17239000.0
1982       499348587.0  630290920.0  2.610136e+09  531266901.0  18394850.0
1987       574834110.0  682753971.0  2.871221e+09  543094160.0  19574415.0
1992       659081517.0  739274104.0  3.133292e+09  558142797.0  20919651.0
1997       743832984.0  796900410.0  3.383286e+09  568944148.0  22241430.0
2002       833723916.0  849772762.0  3.601802e+09  578223869.0  23454829.0
2007       929539692.0  898871184.0  3.811954e+09  586098529.0  24549947.0